/* static/css/base.css */
header h1 a {
 color: rgb(95, 89, 89);
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  padding: 0 1rem;
  background-color: #f4f4f4;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);        
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: blue;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}
a:focus {
  outline: 2px solid blue;
}   
header {
  border-bottom: 1px solid #999;
  margin-bottom: 2rem;
  display: flex;
}

header h1 a {
  color: red;
  text-decoration: none;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
  display: flex;
  padding-top: 2rem;
}

.post-entry {
  margin-bottom: 2rem;
}

.post-entry h2 {
  margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
  color: blue;
  text-decoration: none;
}

.post-entry p {
  margin: 0;
  font-weight: 400;
}

.post-entry h2 a:hover {
  color: red;
}