<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LEARNING</title>
  </head>

  <body>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <br />
    <h2><a href="{% url 'home' %}">Django blog</a></h2>
    <header></header>

    {% if user.is_authenticated %}

    <h2><p>Welcome, {{ user.username }}!</p></h2>
    <br />
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
    <br />
    {% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>

    {% endif %}
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
