<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DETAIL</title>
    {% load static %}
  </head>

  <body>
    <div class="post-entry">
      <p><h2>{{ blog.TITLE }}</h2></p>
      <p>Author: {{ blog.AUTHOR }}</p>
      <p>{{ blog.BODY }}</p>
      <p><a href="{% url 'post_delete' blog.pk %}">+ Delete Blog Post</a></p> 
    </div>
  <a href="{% url 'post_edit' blog.pk %}">+ Edit Blog Post</a>
  </body>
</html>
